**/*.bat
**/*.log
**/*.md
**/*.yml
**/*.user
**/*.metaproj
**/*.pdb
**/.dockerignore
**/.editorconfig
**/.git
**/.gitattributes
**/.gitignore
**/.vs
**/.idea
**/.vscode
**/.angular
**/bin
**/dist
**/dockerfile
**/node_modules
**/obj
**/package-lock.json
**/[Ll]ogs