<mat-card>
  <mat-nav-list *ngIf="state">
    <a mat-list-item *ngIf="!state.scenarioIsPresent" routerLink="create">
      Let's create a script for an adventure!
    </a>
    <a mat-list-item *ngIf="state.scenarioIsPresent" routerLink="edit">
      You can edit current adventure script
    </a>
    <a mat-list-item *ngIf="state.scenarioIsPresent && !state.activeAdventureIsPresent" routerLink="start">
      Let's start a new adventure!
    </a>
    <a mat-list-item *ngIf="state.activeAdventureIsPresent" routerLink="play">
      Continue your adventure...
    </a>
    <a mat-list-item *ngIf="state.activeAdventureIsPresent && state.adventureLogIsPresent" routerLink="log">
      Look at your current adventure progress so far...
    </a>
    <a mat-list-item *ngIf="!state.activeAdventureIsPresent && state.adventureLogIsPresent" routerLink="log">
      Remember your last adventure!
    </a>
  </mat-nav-list>
</mat-card>

