<mat-card>
  <mat-action-list *ngIf="state">
    <button mat-list-item *ngIf="!state.scenarioIsPresent" routerLink="create">
      Let's create a script for an adventure!
    </button>
    <button mat-list-item *ngIf="state.scenarioIsPresent" routerLink="edit">
      You can edit current adventure script
    </button>
    <button mat-list-item *ngIf="state.scenarioIsPresent && !state.activeAdventureIsPresent" (click)="startAdventure()">
      Let's start a new adventure!
    </button>
    <button mat-list-item *ngIf="state.activeAdventureIsPresent" routerLink="play">
      Continue your adventure...
    </button>
    <button mat-list-item *ngIf="state.activeAdventureIsPresent && state.adventureLogIsPresent" routerLink="log">
      Look at your current adventure progress so far...
    </button>
    <button mat-list-item *ngIf="!state.activeAdventureIsPresent && state.adventureLogIsPresent" routerLink="log">
      Remember your last adventure!
    </button>
  </mat-action-list>
</mat-card>

