@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.success-snackbar {
  background: #3c9c22;
}

.error-snackbar {
  background: #f14949;
}

.main-container {
  height: 100vh;
}

.script-editor {
  width: 800px;
  height: 600px;
}

.adventure-card {
  min-width: 400px;
  min-height: 200px;
}
